.task-container {
    height: 72px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__text {
        margin: 10px;
    }

    input {
        width: 32px;
        height: 32px;
        margin: 16px;
    }
}