.create-task-container {

    display: flex;
    min-height: 70px;
    justify-content: stretch;
    gap: 10px;
    
    &__input-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        
        input {
            flex: 1;
        }
    }

    input[type="button"] {
        width: 70px;
        height: 70px;
    }
}